/*
*   File name: inputs.css
*   Author: Dana Andrei - Iulian
*/

.input_field {
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-font-family: Arial;
}

.droplist {
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-font-family: Arial;
}

.gender_radio_button {
    -fx-font-size: 15px;
    -fx-font-family: Arial;
}